version: "3.8"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: llll
      MYSQL_DATABASE: lll_db
      MYSQL_USER: lll
      MYSQL_PASSWORD: llll
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - lll-network

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6380:6379"
    networks:
      - lll-network

volumes:
  mysql_data:

networks:
  lll-network: